/*
    --bg-color: #FFF8F0;
    --detail-dark: #14371F;
    --detail-medium: #4A7140;
    --color-light: #E9972D;
    --color-medium: #C4501B;
    --color-main: #A0361B;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Kolker Brush', cursive;
    font-family: 'League Spartan', sans-serif;
*/

.contacts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a0361b56;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 70px;
}

.contacts_title {
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
    text-align: center;
    color: var(--color-main);
}

.data_container {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.client_data {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.insert_input{
    display: flex;
    align-items: center;
    width: 500px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #fff8f0cc;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    color: #a0361b86;
    padding-left: 20px;
}

.insert_input::placeholder {
    color: #a0361b86;
}

.contact_message {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.insert_message_input {
    width: 600px;
    height: 280px;
    border: none;
    border-radius: 30px;
    background-color: #fff8f0cc;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    color: #a0361b86;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.insert_message_input::placeholder {
    color: #a0361b86;
}

.radio_container {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

form {
    display: flex;
    gap: 30px;
}

.options_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.option_title {
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    color: var(--color-main);
}

.option_item {
    width: 34px;
    height: 34px;
}

.message_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    background-color: var(--color-main);
    border: none;
    border-radius: 30px;
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
    color: white;
    transition: all 0.5s;
}

.message_button:hover {
    background-color: #fff8f0cc;
    color: var(--color-main);
    transition: all 0.5s;
    font-size: 32px;
}

@media (max-width: 768px) {
    .contacts_container {
        gap: 70px;
    }
    
    .contacts_title {
        width: 70vw;
        text-align: left;
    }
    
    .data_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    
    .client_data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .insert_input{
        align-items: center;
        width: 80vw;
        height: 60px;
    }
    
    .contact_message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .insert_message_input {
        width: 80vw;
        height: 300px;
    }
    
    .radio_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end; 
        width: 100%;
        gap: 20px;  
    }
}