/*
    --bg-color: #FFF8F0;
    --detail-dark: #14371F;
    --detail-medium: #4A7140;
    --color-light: #E9972D;
    --color-medium: #C4501B;
    --color-main: #A0361B;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Kolker Brush', cursive;
    font-family: 'League Spartan', sans-serif;
*/

#pizza_container {
    display: flex;
    height: auto;
    gap: 50px;
}

#main {
    display: flex;
    padding-top: 8vh;
}

.pizza__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.pizza__container h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-main);
    font-size: 3.5rem;
}

.text__info {
    display: flex;
    flex-direction: column;
}

.input__container {
    display: flex;
    gap: 90px;
    padding-bottom: 30px;
}

.input__data {
    height: 60px;
    width: 30vw;
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    padding: 16px;
    color: var(--color-medium);
    border: none;
    box-shadow: inset 0px -4px 0px var(--color-medium);
}

.input__data::placeholder {
    color: #a0361b86;
}

.upload__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.img__input {
    display: none;
}

.button__save {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
}

#input__file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 15vh;
}

#img_preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 244px;
    width: 380px;
    background-color: #fff8f0ce;
    border-radius: 30px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
}

.inputs__container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.send_image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.radio__container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
}

.habilitar__preview {
    display: none;
}

.text__preview {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    color: var(--color-main);
}

.title__categoria {
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    color: var(--color-main);
}

label {
    font-family: 'League Spartan', sans-serif;
    font-size: 26px;
}

.button__edit {
    display: flex;
    gap: 50px;
    padding-top: 40px;
}

#editar_pizzas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #fff8f0cc;
    border: none;
    border-radius: 50px;
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    color: var(--color-main);
    transition: all 0.5s;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border: 4px solid var(--color-main);
}

#editar_pizzas:hover {
    background-color: var(--color-main);
    color: white;
    transition: all 0.5s;
}

#salvar, #enviar, .button__update {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    background-color: var(--color-main);
    border: none;
    border-radius: 30px;
    font-family: 'League Spartan', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    padding-top: 10px;
    transition: all 0.5s;
}

#salvar:hover, #enviar:hover {
    background-color: #fff8f0cc;
    color: var(--color-main);
    transition: all 0.5s;
    font-size: 32px;
}

#descricao {
    width: 600px;
    height: 280px;
    border: none;
    border-radius: 30px;
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    color: #a0361b86;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#text_info_services {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}
