#main {
    display: flex;
    padding-top: 8vh;
}

.pizza__container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pizza__container h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-main);
    font-size: 3.5rem;
}

.text__info {
    display: flex;
    flex-direction: column;
}

.input__data {
    height: 60px;
    font-family: 'League Spartan', sans-serif;
    font-size: 24px;
    padding: 16px;
    color: var(--color-medium);
    border: none;
    box-shadow: inset 0px -4px 0px var(--color-medium);
}

.img__input {
    display: none;
}

#input__file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 15vh;
}

#img_preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 244px;
    width: 380px;
    background-color: #fff8f0ce;
    border-radius: 30px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
}

.inputs__container {
    display: flex;
    flex-direction: column;
}

.radio__container {
    display: flex;
    gap: 15px;
}

.habilitar__preview {
    display: none;
}

/* possibilidade de troca para preview:
#img__preview i {
    display: none;
} */
