/*
    --bg-color: #FFF8F0;
    --detail-dark: #14371F;
    --detail-medium: #4A7140;
    --color-light: #E9972D;
    --color-medium: #C4501B;
    --color-main: #A0361B;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Kolker Brush', cursive;
    font-family: 'League Spartan', sans-serif;
*/

.favorite_pizzas_container {
    height: auto;
    background-image: url('../../img/forno-de-pedra\ \(2\)\ 1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color);
    padding-bottom: 50px;
}

.favorite_pizzas_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite_pizzas_icon_bar{
    width: 43%;
    height: 5px;
    background-color: var(--detail-dark);
}

.favorite_pizzas_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: var(--detail-dark);
    border-radius: 100px;
}

.icon {
    width: 130px;
    height: 130px;
}

.favorite_pizzas_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 70px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    color: var(--detail-dark);
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--detail-dark);
    border: none;
    border-radius: 30px;
    font-size: 40px;
    color: white;
    padding-bottom: 5px;
}

.favorite_pizzas_cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
    gap: 80px;
}

.review__items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 360px;
    height: 480px;
    background-color: var(--bg-color);
    border-radius: 50px;
    /* box-shadow: inset 0px 10px 0px 0px var(--detail-dark); */
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
}

.favorite_image {
    height: 200px;
    border-radius: 50px 50px 0px 0px;
    /* box-shadow: inset 0px 10px 0px 0px var(--detail-dark); */
}

.favorite_name {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--detail-dark);
    max-height: 500px;
    width: 100%;
}

.favorite_ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--detail-dark);
}

.favorite_price {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: var(--detail-dark);
    text-align: center;
    padding-left: 20px;
}

.all_pizzas_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 90px;
    background-color: transparent;
    border: 6px solid var(--detail-dark);
    border-radius: 20px;
    margin-left: 80vw;
    transition: all 0.5s;
}

.all_pizzas_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-align: center;
    color: var(--detail-dark);
}

.all_pizzas_container:hover {
    background-color: var(--detail-dark);
    width: 400px;
    transition: all 0.5s;
}

.all_pizzas_container:hover
.all_pizzas_link {
    color: white;
    transition: all 0.5s;
}

@media (max-width: 768px) {
    .favorite_pizzas_container {
        background-image: none;
        padding-bottom: 50px;
    }
    
    .favorite_pizzas_icon_bar{
        width: 43%;
        height: 5px;
        background-color: var(--detail-dark);
    }
    
    .favorite_pizzas_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: var(--detail-dark);
        border-radius: 300px;
    }
    
    .icon {
        width: 60px;
        height: 60px;
    }
    
    .favorite_pizzas_title {
        font-size: 50px;
        text-align: center;
    }
    
    .review {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .nav_button {
        rotate: 90deg;
    }
    
    .favorite_pizzas_cards {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-top: 0px;
    }
    
    .review__items {
        width: 70vw;
        height: 35vh;
    }
    
    .all_pizzas_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 90px;
        border-radius: 20px;
        margin-left: 15vw;
        margin-top: 30px;
        transition: all 0.5s;
    }
}
