#main {
    display: flex;
    padding-top: 8vh;
}

.pizza__container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pizza__container h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-main);
    font-size: 3.5rem;
}

.img__input {
    display: none;
}

#input__file {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 15vh;
}

#img_preview {
    height: 15vh;
    width: 20vw;
    background-color: blueviolet; 
}

.inputs__container {
    display: flex;
    flex-direction: column;
}

.radio__container {
    display: flex;
    gap: 15px;
}

/* possibilidade de troca para preview:
#img__preview i {
    display: none;
} */