/*
    --bg-color: #FFF8F0;
    --detail-dark: #14371F;
    --detail-medium: #4A7140;
    --color-light: #E9972D;
    --color-medium: #C4501B;
    --color-main: #A0361B;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Kolker Brush', cursive;
    font-family: 'League Spartan', sans-serif;

    display: grid;
    grid-template-columns: auto auto auto;
*/

.discount_pizzas_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--color-main);
}

.discount_pizzas_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 900;
    color: white;
}

.discount_pizzas_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: white;
}

.discount_pizzas {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
    gap: 30px;
}

.discount_card {
    background: linear-gradient(transparent 30%,#fff8f0b7 10%, #fff8f0b7 30%);
    border-radius: 0px 0px 60px 60px;
    width: 434px;
}

.discount_image {
    width: 180px;
    height: 180px;
    border-radius: 200px;
}

.discount_name {
    font-family: 'League Spartan', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--color-main);
}

.discount_ingredients {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.original_price {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: line-through;
}

.discount_price {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: var(--color-main);
}

.wave_image {
    width: 100%;
    height: 300px;
    background: url('../../../img/wave.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}