/*
    --bg-color: #FFF8F0;
    --detail-dark: #14371F;
    --detail-medium: #4A7140;
    --color-light: #E9972D;
    --color-medium: #C4501B;
    --color-main: #A0361B;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Kolker Brush', cursive;
    font-family: 'League Spartan', sans-serif;
*/

.favorite_pizzas_container {
    height: auto;
    background: url('../../img/forno-de-pedra\ \(2\)\ 1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color);
}

.favorite_pizzas_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite_pizzas_icon_bar{
    width: 43%;
    height: 5px;
    background-color: var(--detail-dark);
}

.favorite_pizzas_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: var(--detail-dark);
    border-radius: 100px;
}

.icon {
    width: 130px;
    height: 130px;
}

.favorite_pizzas_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 70px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    color: var(--detail-dark);
}

.review {
    display: flex;
    justify-content: center;
}

.favorite_pizzas_cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 20px;
    gap: 30px;
}

.review__items {
    width: 360px;
    height: 480px;
    background-color: var(--bg-color);
    border-radius: 50px;
    box-shadow: inset 0px 10px 0px 0px var(--detail-dark);
}

.favorite_image {
    height: 200px;
    border-radius: 50px 50px 0px 0px;
    box-shadow: inset 0px 10px 0px 0px var(--detail-dark);
}

.favorite_name {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: var(--detail-dark);
    padding-top: 20px;
    max-height: 500px;
    width: 100%;
}

.favorite_ingredients {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: var(--detail-dark);
}

.favorite_price {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: var(--detail-dark);
    text-align: center;
    padding-left: 20px;
}