#header {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 3px 8px #a0361b50;
    width: 100vw;
    z-index: 2;
}

#main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.menu__container{
    display: flex;
    flex-direction: column;
    min-width: 25%;
    height: 100%;
    gap: 24px;
    justify-content: center;
    background-color: var(--bg-color);
}

.options__container {
    display: inline-block;
    font-family: 'League Spartan', sans-serif;
}

.options{
    display: flex;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-end;
}

.options__container a {
    font-family: 'League Spartan', sans-serif;
    border: none;
    font-size: 1.8rem;
    font-weight: 300;
    width: 90%;
    padding: 5%;
    text-align: end;
    color: var(--color-medium);
    background-color: var(--bg-color);
    box-shadow: inset 4px 0px 0px 2.5px var(--color-medium);
    transition: .5s;
}

.option:hover {
    color: var(--bg-color);
    background-color: var(--color-medium);
    transition: .5s;
}


#pizzas {
    border-radius: 24px 0 0 0;
}

#perfil {
    border-radius: 0 0 0 24px;
}

.welcome__container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.welcome__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 80%;
    padding: 72px;
    background-color: var(--bg-color);
    color: var(--color-main);
    border-radius: 42px 0 42px 0;
    box-shadow: -3px 10px 10px rgba(0, 0, 0, 0.3);
}

.main__message{
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    width: 85%;
}

.description {
    font-family: 'League Spartan', sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
    font-style: italic;
}